#wrapper {
    width: 1100px;
    margin: 10px auto;
}

#header {
    background-color: yellow;
    height: 40px;
    display: flex;
    align-items: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
}

#right {
    width: 199px;
    height: 646px;
    float: right;
    font-size: small;
}

#content {
    margin-left: 10px;
    margin-right: 250px;
}
#content img {
    width: 800px;
    height: 400px;
}

#footer {
    width: 1098px;
    text-align:center;
    background-color: yellow;
    padding: 30px 0px;
	font-size: 13px;
	text-align: center;
}

p {
    font-family: "Courier New";
}

table {
    border-spacing: 10px;
    font-size: 14px;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    border-style: solid;
    border-color: yellow;
}