*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #070707;
}

.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 22px;  
    padding: 30px 0px 30px 0px;
}
.menu li{
    margin: 0 auto;
}
.menu li:last-child, .menu li:first-child{
    margin: 0;
}
.menu li a{
    color: #828282;
    text-decoration: none;
}
.menu li a:hover{
    color: #070707;
}
.img img{
    width: 100%;
    height: 100%;
 }

.me{
    display: flex;
}
.me h1{
    font-size: 49px;
    line-height: 59px;
    color: #070707;
}
.me h2{
    margin: 60px auto;
    font-size: 18px;
    line-height: 22px;
}
.lung{
    display: flex;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    padding-top: 90px;
}
.lung a{
    text-decoration: none;
    color: #828282;;
}
.lung a:hover{
    color: #070707;
}
.me img{
    padding-top: 100px;
}

.about_me{
    padding: 100px;
    color: #070707;
    margin-top: 100px;
    text-align: center;
    background: #F6F6F6;
}
.about_me h1{
    font-size: 34px;
    line-height: 42px;
}
.about_me h2{
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;  
}

.skills{
    margin-top: 100px;
    text-align: center;
}
.skills h1{
    font-size: 34px;
    line-height: 42px;
}
.skills h2{
    margin-top: 69px;
    font-size: 18px;
    line-height: 22px;
}
.programs{
    display: flex;
    padding-top: 100px;
}
.program{
    margin: 0 auto;
}
.program h1{
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.program img{
    width: 50%;
}
.star{
    margin-top: 40px;
}

.portfolio{
    text-align: center;
    margin-top: 220px;
    background: #F6F6F6;
    padding-bottom: 95px;
}
.portfolio h1{
    padding-top: 100px;
    font-size: 34px;
    line-height: 42px;
}
.compane{
    margin-top: 100px;
}
.compane img{
    width: 100%;
    margin-bottom: 45px;
}
.compane a{
    display: block;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.footer{
    margin-top: 100px;
    text-align: center;
}
.footer h1{
    font-size: 34px;
    line-height: 42px;
}
.footer h2{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
}
.footer a{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #070707;
    border: #070707 solid 10px;
    border-radius: 25px;
    padding: 1px 2px;
    text-decoration: none;
}
.footer_icon{
    margin-top: 100px;
}
.footer_icon img{
    padding-left: 50px;
    padding-right: 50px;
    width: 4%;
}
.footer h3{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    margin-top: 45px;
    margin-bottom: 120px;
}


@media (max-width: 490px){
    .footer_icon img{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 375px){
    .me{
        display: block;
    }
    .me h2{
        margin-top: 10px;
    }
}