/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
}

.header {

}
.header__title {

}
.burger {

}
.burger__line {

}
.main__title {

}
.h4 {
}
